.carousel {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.carousel * {
	background-color: white;
}

.carousel_Images {
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
}

.carousel_Item {
	min-width: 100%;
	text-align: center;
}

.carousel_Images img {
	padding: 5px 5px 5px 5px;
	margin: 0px 20px 0px;
	height:300px;
}

.carousel_Images img:hover {
	background-color: var(--color-hover)
}

.carousel_Dots {
	display: flex;
	justify-content: center;
}

.carousel_dot {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--color-main-accent2);
	margin: 5px 5px 5px 5px;
}
