.item {
	height: 100%;
	width: 33%;
	margin: 2px 2px;
	background-color: gray;
	display: flex;
	flex-direction: column;
}

.item * {
	background-color: gray;
}

.item img {
	height: 80%;
	width: 100%;
	object-fit: cover;
	vertical-align: middle;
	align-self: center;
}

.item_Text {
	display: flex;
	justify-content: space-between;
	height: 20%;
}

.item_Text h3 {
	margin: 5px 5px 5px 5px;
}

.model {
	align-self: center;
}