

.loginbutton {
    display: block;
    margin: 100px auto 0;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #FF69B4;
}

.overlay {
    display: flex;
    position: fixed;
    /*background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    height: 100%;
}

.loginModal img {
    max-width: 175px;
}

.modalContainer {
    max-width: 400px;
    max-height: 1000px;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-color: black;
    border-radius: 8px;
    border: solid 1px;
    padding: 25px 25px 25px 25px;
}

.leftModal {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 100px;
}

.loginModal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.loginModal input[type=text] {
    border-radius: 10px;
    padding: 5px;
    background-color: white;
}

.submitButton {
    width: 75px;
    border-radius: 10px;
    padding: 5px;
    background-color: #CDB69C;
}
