.sliderBar {
	display: flex;
	flex-direction: column;
}


.sliderBar_Images {
	display: flex;
	justify-content: center;
	
}

.sliderBar_Images img {
	height: 300px;
	width: 300px;
}

.sliderBar_Dots {
	display: flex;
	justify-content: center;
}

.sliderBar_dot {
	width: 20px;
	height: 20px;
	border-color: purple;
	border: 2px 2px 2px 2px;

	background-color: black;
	margin: 0px 5px 0px 5px;
}