.sliderBar {
	display: flex;
	flex-direction: column;
}

.sliderBar * {
	background-color: white;
}

.sliderBar_Images {
	display: flex;
	justify-content: center;
}

.sliderBar_Images img {
	padding: 5px 5px 5px 5px;
	margin: 0px 20px 0px;
}

.sliderBar_Images img:hover {
	background-color: var(--color-hover)
}

.sliderBar_Dots {
	display: flex;
	justify-content: center;
}

.sliderBar_dot {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--color-main-accent2);
	margin: 5px 5px 5px 5px;
}