.nav-bar {
	height: 50%;
}

.nav-bar_topDiv {
	display: grid;
	grid-template-columns: 1.5fr 3fr 1.4fr;
}

.nav-bar_topDiv input,
.nav-bar_buttonGroup button,
.nav-bar_topDiv h1 {
	box-sizing: border-box;
	border-radius: 30px;
	margin: 5px 30px 5px 30px;
}

.nav-bar_buttonGroup {
	display: flex;
	justify-content: space-evenly;
}

.nav-bar_buttonGroup button {
	width: 40%;
}

.nav-bar_topDiv input,
.nav-bar_topDiv button {
	background-color: var(--color-main-accent);
}

.nav-bar_topDiv input {
	padding: 10px;
}

.nav-bar_topDiv button:hover {
	background-color: var(--color-hover);
}

.nav-bar_bottomDiv {
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 35px;
}

.nav-bar_bottomDiv * {
	border: none;
	width: 6%;
}

.nav-bar_bottomDiv *:hover {
	text-decoration: underline;
	background-color: var(--color-hover);
}
