.nav-bar {
}

.nav-bar_topDiv {
	display: grid;
	grid-template-columns: 1.5fr 3fr .7fr .7fr;
}

.nav-bar_topDiv * {
	border-radius: 30px;
	border: none;
	margin: 5px 30px 5px 30px;
	box-sizing: border-box;
}

.nav-bar_topDiv input,
.nav-bar_topDiv button {
	background-color: var(--color-main-accent);
}

.nav-bar_topDiv input {
	padding: 10px;
}

.nav-bar_topDiv button:hover {
	background-color: var(--color-hover);
}

.nav-bar_bottomDiv {
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 35px;
}

.nav-bar_bottomDiv * {
	border: none;
	width: 6%;
}

.nav-bar_bottomDiv *:hover {
	text-decoration: underline;
	background-color: var(--color-hover);
}
