.bttmComponent {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.bttmComponent hr {
  border-color: black;
  border-style: solid;
}

.category {
  background-color: #eeeff5;
  height: 20%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category h1 {
  background-color: #eeeff5;
  font-size: 100px;
}

.shoe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 80px;
  background-color: white;
  margin: 40px;
  width: 90%;
  border: 1px solid #eeeff5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add drop shadow */
}

.shoe-card {
  border: none;
  background-color: #eeeff5;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  max-height: 340px;
  min-height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add drop shadow */
}

.shoe-card img {
  height: 68%;
  background-color: #eeeff5;
  object-fit: contain;
  background-color: transparent;
}

.shoe-card h2,
.shoe-card p {
  background-color: #eeeff5;
  padding: 2px;
  margin-right: auto;
}

.heart-icon {
  width: 30px;
  background-color: #eeeff5;
}

.priceandplus {
  background-color: #eeeff5;
  display: flex;
  position: relative;
}

.priceandplus img {
  margin-left: auto;
}
.shoecardbutton {
  border: none;
  background-color: transparent;
}

.shoecardbuttonlink:hover {
  scale: 1.1;
}

.favbutton {
  all: unset;
  margin-right: auto;
  width: 30px;
}

.favbutton:hover {
  animation: squish 200ms ease-in-out;
}
@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}



.cartbutton {
  all: unset;
}

.cartbutton:hover {
  animation: squish 200ms ease-in-out;
}

.shoecardbuttonlink{
  border: none;
  background-color: transparent;
  width: 90%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-height: 340px;
  outline: none;
}

.empty-image {
  width: 100%; /* Match the width of the image */
  height: 68%; /* Match the height of the image */
  background-color: transparent;
  padding-bottom: 50px;
}
