

.signupModalOverlay {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
	top: 0px;
	z-index: 2;
	background-color: rgb(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
}

.signupModalOverlay img {
    max-height: 175px;
}

.signupModalOverlay .modalContainer {
    max-width: 400px;
    max-height: 420px;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-color: black;
    border-radius: 8px;
    border: solid 1px;
    padding: 0px 25px 25px 25px;
}

.signupModalOverlay .topModal {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 100px;
}

.signupModalOverlay .formContainer {
	margin: 10px;
    height: 500px;
}

.signupModalOverlay .formContainer form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.signupModalOverlay .formContainer input[type="text"] {
    margin: 5px;
    width: 230px;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
}
.signupModalOverlay .formStuff {
    display: flex;
    flex-direction: row;
	justify-content: center;
    gap: 5px;
}

.signupModalOverlay .formStuff input[type="text"] {
    width: 100px;
}

.signupModalOverlay .formSubmit {
    width: 75px;
    border-radius: 10px;
    padding: 5px;
    background-color: #CDB69C;
    margin-top: 5px;
	align-self: center;
}
