.item-list {
	height: 50%;
	margin: 1% 5%;
}

.item-list_Text {
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-list_Images {
	height: 90%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

